# Ignore everything in airflow except dags
airflow/*
!airflow/dags/
airflow/dags/lead_scoring/__pycache__/
airflow/dags/lead_scoring/lead_scoring_data_cleaning.db

# Ignore manifest folder from kubeflow
manifest/

# Ignore .zen and .dvc
.dvc/

# Ignore .terraform
.terraform/

# Ignore MLflow related files
mlruns/*
mlartifacts/*

minikube-linux-amd64

lead_scoring/training_pipeline/notebooks/mlruns/*

__pycache__
